@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');

:root {
  --bg-color: #f8f4ff;
  --font-color: #303663;
  --font-hover-color: #6b77c5;
  --card-shadow-color: #9db1ac;
  --text-link-color: #227965;
  font-size: 62.5%;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}